
.main-container {
  padding: 0 32px;
}

ul.message-list {
  list-style: none;
  padding: 0;
  overflow-y: scroll;
  max-height: 80vh;
  margin-top: 5px;
}

ul.message-list > li {
  padding: 5px 0
}

ul.message-list > li:nth-child(odd) {
  background: #f3ecf3;
}